.mobile-menu {
    display: block;

    &__wrapper{
        position: fixed;
        //width: 30%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 999999;
       // background-color: rgba(80, 79, 72, 0.7);
        background-color: #D0AD3D;
        color: aliceblue;
    }

    &__hide {
        display: none;
    }

}
