@import "../../styles/constants.less";


@media screen and (max-width: @mobile-width) {
    .home-page {
        &__tab-center {
            padding-top: 50px;
            display: none;
        }

        &__tab-wrapper {
            padding-top: 50px;
        }

        &__top-element-wrapper {
            width: 100%;
            position: initial;
            height: 40px;
            //background-color: #2d5073;
        }

        &__mobile-tabs {
            display: block;
        }

        &__logo {
            width: 136px;
            height: 132px;
            left: 0;
            top: 40px;
        }
    }
}
