@import "../../../styles/constants.less";


@media screen and (max-width: @mobile-width) {
    .menu-button {
        display: flex;

        &_active {
            width: calc(20vw);
            height: calc(18vw);
            max-width: 80px;
            max-height: 73px;
            z-index: 99999999;
        }
    }
}
